<%= render 'shared/navbar' %>
<section class="section">
  <div class="container">
    <h1 class="title">✅ You are good to go!</h1>
    <div class="content">
      <p>
        As new payments occur based on your amortization schedule, equity transactions will automatically appear in YNAB.
      </p>
      <p>
        Thank you for using YHAM!
      </p>
      <p>
        <%= link_to 'Click here to return to your YHAM mortgage list.', mortgages_path %>
      </p>
      <p>
        <%= link_to(
            'Click here to leave YHAM and go to YNAB.',
            'https://www.youneedabudget.com/'
          )
        %>
      </p>
    </div>
  </div>
</section>
