<% if form_object.errors.any? %>
  <div class="content notification">
    <h2 class="subtitle">
      <%= pluralize(form_object.errors.count, 'error') %> prevented progress:
    </h2>
    <ul>
      <% form_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
