<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to(
          '🏠 YHAM',
          mortgages_path,
          class: 'navbar-item has-text-weight-bold is-size-3'
        )
      %>
      <div class="navbar-item">
        <%= button_to(
            'Sign out',
            sign_out_path,
            class: 'button',
            method: :delete
          )
        %>
      </div>
    </div>
  </div>
</nav>
