<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="has-text-centered title">🏠 YHAM - You Have A Mortgage</h1>
      <hr role="presentation">
      <p class="has-text-weight-semibold subtitle">
        YHAM is a web application to help people see the true value of their mortgage.
      </p>
      <p class="has-text-weight-semibold subtitle">
        It provides an unofficial <a href="https://www.youneedabudget.com/">YNAB</a> plugin that automatically tracks your home equity in YNAB as you pay off your mortgage.
      </p>
      <div class="level">
        <div class="level-item">
          <img
            alt="Demonstration of YHAM tracking equity in YNAB"
            src="yham-demonstration.png"
          >
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <%= link_to(
                'Sign in with YNAB',
                user_ynab_omniauth_authorize_path,
                class: 'button'
              )
            %>
        </div class="control">
        <div>
            <%= link_to(
                'View source code',
                'https://gitlab.com/grantbdev/yham',
                class: 'button'
              )
            %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container content">
      <h2 class="subtitle">🔒 Privacy Policy</h2>
      <ul>
        <li>
          YHAM follows the guidelines for integrating with your YNAB account using the YNAB API.
        </li>
        <li>
          All data between YHAM and YNAB is encrypted when it is exchanged.
        </li>
        <li>
          YHAM only stores explictly provided information and only as needed to provide the service.
        </li>
        <li>
          Any required data is stored in a secure and private database provided by Heroku.
        </li>
        <li>
          Your information will never be shared with any third-party.
        </li>
      </ul>
    </div>
  </div>
</section>
