<%= form_with(
    method: :get,
    model: @equity_tracker_form,
    url: new_mortgage_equity_tracker_path(@mortgage)
  ) do |form|
%>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :budget_id, 'Budget', class: 'label' %>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= form.collection_select :budget_id,
              @budgets,
              :id,
              :name,
              { prompt: true },
              { required: true }
            %>
          </div>
        </div>
      </div>
      <%= form.hidden_field :step, value: 2 %>
      <div class="notification">
        <p>Please create an account for equity in YNAB.</p>
        <p>
          <%= link_to(
              'Click here for instructions on adding an account.',
              'https://docs.youneedabudget.com/article/146-adding-an-account',
              target: '_blank'
            )
          %>
        </p>
        <p>
          The account should be unlinked, and the type will be <strong>Tracking: Asset</strong>.
        </p>
        <p>You will need to select that account on the next page.</p>
      </div>
      <div class="control">
        <%= form.submit 'Next step', class: 'button' %>
      </div>
    </div>
    <div class="column"><!-- I don't feel like writing CSS 😅 --></div>
  </div>
<% end %>
