<%= form_with(
    model: @equity_tracker_form,
    url: mortgage_equity_tracker_path(@mortgage)
  ) do |form|
%>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :account_id, 'Equity tracking account', class: 'label' %>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= form.collection_select :account_id,
              @accounts,
              :id,
              :name,
              { prompt: true },
              { required: true }
            %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= form.label :payee_name,
          'Payee name for equity transactions',
          class: 'label'
        %>
        <%= form.text_field :payee_name, class: 'input', required: true %>
      </div>
      <%= form.hidden_field :budget_id %>
      <%= form.hidden_field :step, value: 3 %>
      <div class="notification">
        <p>
          A transaction with your current equity will be created upon successful submission in the selected YNAB budget and account.
        </p>
      </div>
      <div class="control">
        <%= form.submit 'Submit', class: 'button' %>
      </div>
    </div>
    <div class="column"><!-- I don't feel like writing CSS 😅 --></div>
  </div>
<% end %>
