<%= render 'shared/navbar' %>
<section class="section">
  <div class="container">
    <h1 class="title">Mortgages</h1>
    <div class="field">
      <%= link_to "Add mortgage", new_mortgage_path, class: 'button' %>
    </div>
    <div class="tile is-ancestor">
      <% current_user.mortgages.each do |mortgage| %>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <%= link_to(
                "#{mortgage.amount.format} Mortgage (#{mortgage.start_date})",
                mortgage_path(mortgage)
              )
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
