<%= render 'shared/navbar' %>
<section class="section">
  <div class="container">
    <h1 class="title">Add your mortgage</h1>
    <%= render 'shared/form_errors', form_object: @mortgage_form %>
    <%= form_with model: @mortgage_form, url: mortgages_path do |form| %>
      <div class="columns">
        <div class="column">
          <div class="field">
            <%= form.label :amount, class: 'label' %>
            <div class="control">
              <%= form.text_field :amount, class: 'input', required: true %>
            </div>
          </div>
          <div class="field">
            <%= form.label :interest_rate_percentage,
              'Interest rate (%)',
              class: 'label'
            %>
            <div class="control">
              <%= form.number_field :interest_rate_percentage,
                class: 'input',
                min: 0,
                required: true,
                step: :any
              %>
            </div>
          </div>
          <div class="field">
            <%= form.label :period_in_years, 'Period (years)', class: 'label' %>
            <div class="control">
              <%= form.number_field :period_in_years,
                min: 1,
                class: 'input',
                required: true
              %>
            </div>
          </div>
          <div class="field">
            <%= form.label :start_date, class: 'label' %>
          </div>
          <div class="field has-addons">
            <div class="control">
              <%= form.date_field :start_date, class: 'input', required: true %>
            </div>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <%= form.time_zone_select :time_zone,
                  ActiveSupport::TimeZone.us_zones,
                  { default: 'Eastern Time (US & Canada)' },
                  { 'aria-label': 'Time zone' }
                %>
              </div>
            </div>
          </div>
          <div class="field">
            <%= form.label :start_equity,
              'Down payment / equity before mortgage',
              class: 'label'
            %>
            <div class="control">
              <%= form.text_field :start_equity, class: 'input' %>
            </div>
          </div>
          <div class="control">
            <%= form.submit 'Submit', class: 'button' %>
          </div>
        </div>
        <div class="column"><!-- I don't feel like writing CSS 😅 --></div>
      </div>
    <% end %>
  </div>
</div>
