<%= render 'shared/navbar' %>
<section class="section">
  <div class="container">
    <h1 class="title">Your Mortgage</h1>
    <div class="columns">
      <div class="column">
        <% if @mortgage.equity_tracker.present? %>
          <%= button_to 'Remove tracking in YNAB',
            mortgage_equity_tracker_path(@mortgage),
            class: 'button',
            method: :delete
          %>
        <% else %>
          <%= link_to 'Track this mortgage in YNAB',
            new_mortgage_equity_tracker_path(@mortgage),
            class: 'button'
          %>
        <% end %>
      </div>
      <div class="column">
        <p>Monthly payment: <%= @mortgage.monthly_payment.format %></p>
        <p>Total cost: <%= @mortgage.total_cost.format %></p>
      </div>
    </div>
    <table class='table is-bordered is-fullwidth is-hoverable'>
      <thead>
        <tr>
          <th class="has-text-centered" colspan="6">Amortization Schedule</th>
        </tr>
        <tr>
          <th>Payment #</th>
          <th>Date</th>
          <th>Interest</th>
          <th>Principal</th>
          <th>Balance</th>
          <th>Equity</th>
        </tr>
      </thead>
      <tbody>
        <% @mortgage.amortization_schedule.each do |period| %>
          <tr>
            <td><%= period.number %></td>
            <td><%= period.date %></td>
            <td><%= period.interest.format %></td>
            <td><%= period.principal.format %></td>
            <td><%= period.balance.format %></td>
            <td><%= period.equity.format %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
