<%= render 'shared/navbar' %>
<section class="section">
  <div class="container">
    <h1 class="title">Track your mortgage equity in YNAB</h1>
    <%= render 'shared/form_errors', form_object: @equity_tracker_form %>
    <%= render "equity_trackers/new/step_#{@equity_tracker_form.step}" %>
  </div>
</section>
