<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YHAM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
      rel="stylesheet"
    >
  </head>
  <body>
    <% if notice.present? %>
      <section>
        <div class="notification is-radiusless">
          <div class="container"><%= notice %></div>
        </div>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
